
<ion-header>
  <ion-toolbar >
    <ion-row>
      
      <ion-col style="margin-left: 15%;">
       <h4 >TPnieuws</h4>
      </ion-col>
      <ion-col>
              <ion-icon style="width: 20px; height: 20px; margin-left: 110%; margin-top: 20px;" (click)="navigateToFavo()"  name="star-outline"></ion-icon>
      </ion-col> 
      <ion-col >
        <ion-icon  style="width: 20px; height: 20px; margin-left: 60%; margin-top: 20px;" (click)="navigateToLogin()" name="log-in-outline"></ion-icon>
        </ion-col>
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list style="margin: 20px;" >
    <ion-row style="background-color: #dedede52; border-radius: 16px; " class="ion-margin"
             *ngFor="let article of topHeadlines" >
      <ion-col size="4">
        <ion-label>
          <img style="width: 300px; height: 100px; object-fit: cover; border-radius: 5px;" src="{{ article.urlToImage }}">
        </ion-label>
      </ion-col>
      <ion-col size="8" >
        <ion-label (click)="getDetails(article)">
          {{ article.title }}
          <p>{{ article.author }}</p> 
          <p>{{ article.publishedAt | date }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>